# Database Configuration
DB_HOST=10.206.35.109
DB_PORT=5432
DB_USER=fullon
DB_PASSWORD=fullon
DB_OHLCV_NAME=fullon_ohlcv2
DB_TEST_NAME=fullon_ohlcv2_test

CACHE_HOST=localhost
CACHE_PORT=6379
CACHE_DB=0
CACHE_USER=
CACHE_PASSWORD=
CACHE_TIMEOUT=30
CACHE_LOG=15



# Fullon-Log Configuration
LOG_LEVEL=DEBUG
LOG_FORMAT=beautiful
LOG_CONSOLE=true
LOG_COLORS=true
LOG_FILE_PATH=/tmp/fullon_log/fullon_ohlcv.log
#LOG_ROTATION=100 MB


